<% content_for(:title) { "New Embedding Provider - Admin - Brimming" } %>

<div class="admin-container">
  <div class="page-header">
    <h1>New Embedding Provider</h1>
  </div>

  <%= render "form" %>
</div>
